

    <div class="wrapper">
        <div class="login-form">
            <h2>Login</h2>
            <form id="loginForm">
                <div class="email-password_input">
                    <input type="text" id="login-username" required >
                    <label>Username</label>
                </div>
                <div class="email-password_input">
                    <input type="password" id="login-pw" required >
                    <label>Password</label>
                </div>
                <div class="error" id="login-error">
                </div>
                <div class="rememberMe">
                    <label><input type="checkbox" id="login-rememberMe">Remember Me </label>
                </div>
                <button type="submit" class="loginbtn" onclick="signInUser()">Login</button>
            
                <div class="signup">
                    Don't have an account? <div class="signup-link">Sign Up</div>
                </div>
            </form>
        </div>
    
        <div class="signup-form">
            <h2>Sign Up</h2>
            <form id="registerForm">
                <div class="email-password_input">
                    <input type="text" id="register-username" required>
                    <label>Username</label>
                </div>
                <div class="email-password_input">
                    <input type="password" id="register-pw" required>
                    <label>Password</label>
                </div>
                <div class="error" id="register-error">
                </div>
                <div class="terms">
                    <label><input type="checkbox" id="register-terms" required> I accept the Terms of Use & Privacy Policy </label>
                </div>
                <button type="submit" class="loginbtn" onclick="registerUser()">Sign Up</button>
                <div class="signup">
                    Already have an account? <div class="login-link">Login</div>
                </div>
                
            </form>
        </div>
    </div>

<script src="../static/js/register_script.js"></script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<link rel="stylesheet" href="static/css/register.css">