

    <div class="wrapper">
        <div class="login-form">
            <h2>Login</h2>
            <form>
                <div class="email-password_input">
                    <input type="email" required>
                    <label>Email</label>
                </div>
                <div class="email-password_input">
                    <input type="password" required>
                    <label>Password</label>
                </div>
                <button type="submit" class="loginbtn">Login</button>
                <div class="rememberMe">
                    <label><input type="checkbox">Remember Me </label>
                </div>
            
                <div class="signup">
                    <p>Don't have an account? <a class="signup-link">Sign Up</a></p>
                </div>
            </form>
        </div>
    
        <div class="signup-form">
            <h2>Sign Up</h2>
            <form>
                <div class="email-password_input">
                    <input type="text" required>
                    <label>Username</label>
                </div>
                <div class="email-password_input">
                    <input type="email" required>
                    <label>Email</label>
                </div>
                <div class="email-password_input">
                    <input type="password" required>
                    <label>Password</label>
                </div>
                <div class="terms">
                    <label><input type="checkbox" required> I accept the Terms of Use & Privacy Policy </label>
                </div>
                <button type="submit" class="loginbtn">Sign Up</button>
                <div class="signup">
                    <p>Already have an account? <a href="#" class="login-link">Login</a></p>
                </div>
            </form>
        </div>
    </div>

<script src="../static/js/register_script.js"></script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<link rel="stylesheet" href="static/css/register.css">