<!-- card 1 -->
<a class="restaurant-card" href="restaurant/{{restaurant_id}}">
    <div class="restaurant-image-container">
        <img class="restaurant-image" src="static/images/{{icon}}">
    </div>
    <div class="restaurant-card-content">
        <div class="restaurant-card-content-title">{{name}}</div>
        <div class="restaurant-card-rating">
            <div class="restaurant-card-rating-star-container">
                <div class="restaurant-card-rating-star"></div>
            </div>
            <div class="restaurant-card-rating-text">{{average_rating}}</div>
            <div class="light">/5</div>
        </div>
    </div>
</a>