<div class="post">
    <div class="post-header">
        <div class="post-header-posted-on">Replied to</div>
        <a class="post-header-restaurant" href="static/user_pages/hans.html">{{user_replied}}</a>
        <div class="post-header-posted-on">in</div>
        <a class="post-header-restaurant" href="static/restaurant_pages/mang_inasal.html">{{restaurant_id}}</a>
    </div>
    <div class="post-body">
        {{content}}
    </div>
</div>