<div class="post">
    <div class="post-header">
        <div class="post-header-posted-on">Posted in</div>
        <a class="post-header-restaurant" href="https://tastee-47ty.onrender.com/restaurant/{{restaurant_id}}">{{restaurant_name}}</a>
    </div>
    <div class="post-body">
        {{content}}
    </div>
</div>